* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

:root {
  --corPrincipal: #ffda79;
  --corSecundaria: #111;
}